@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply text-neutral-800;
	}
	html.dark {
		@apply text-neutral-50;
		@apply bg-neutral-800;
	}
}

@layer components {
}

/* @font-face {
	font-family: Raleway;
	src: url(./assets/fonts/Raleway);
} */

* {
	/* margin: 0;
	padding: 0; */
	box-sizing: border-box;
	/* font-family: Raleway; */
}

.avatar {
	@apply border-4 border-transparent p-2 rounded-full flex justify-center items-center transition duration-500 ease-in-out;
}

.avatar-image {
	@apply rounded-full;
}

.background {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		to top left,
		rgba(0, 0, 0, 1) 37%,
		rgba(0, 193, 255, 1) 100%
	);
}

.brand {
	@apply centered gap-4 my-8;
}

.btn-primary {
	@apply bg-blue-500 text-white px-8 py-4 border-none font-bold cursor-pointer rounded-[30px] text-xl uppercase transition duration-500 ease-in-out hover:bg-blue-600;
}

.container-form {
	@apply w-[90%] lg:w-screen flex flex-col justify-center lg:gap-4 lg:bg-gray-900;
}

.contacts {
	@apply flex flex-col items-center overflow-auto gap-3 scrollbar-custom;
}

.contact {
	@apply bg-[#ffffff39] min-h-[5rem] w-[90%] cursor-pointer rounded-[0.2rem] 
	p-[0.4rem] items-center flex sm:flex-col md:flex-row transition duration-200 ease-in-out;
}

.centered {
	@apply flex justify-center items-center;
}

.error {
	@apply text-red-600;
	/* color: red; */
	font-size: 10px;
	margin-top: -25px;
}

.input-error {
	@apply h-10 w-full px-6 text-xl placeholder:text-[#1D1D1B] text-[#1D1D1B] bg-[#D9D9D9] bg-opacity-80 border-2 rounded-[30px] border-red-600 border-opacity-50 outline-none focus:border-red-500  transition duration-200;
}

.link {
	@apply text-blue-500 no-underline font-bold;
}

/* my-20 */
.register-form {
	border-radius: 2em;
	@apply flex flex-col gap-6 justify-center items-center;

	/* py-12 px-20 */
}

.register-input {
	@apply h-10 w-full px-6 text-xl placeholder:text-[#1D1D1B] text-[#1D1D1B] bg-[#D9D9D9] bg-opacity-80 border-2 rounded-[30px] border-none border-opacity-50 outline-none focus:border-purple-400  transition duration-200;
}

.recieved {
	@apply justify-start;
}

.recieved .content {
	@apply bg-[#9900ff20];
}

.sended {
	@apply justify-end;
}

.sended .content {
	@apply bg-[#4f40ff21];
}

.selected-contact {
	@apply bg-[#9186f3];
}

.titulo {
	@apply text-blue-500 uppercase font-bold text-3xl;
}

/* Estilos personalizados para la barra de desplazamiento */
.scrollbar-custom {
	scrollbar-width: thin;
	scrollbar-color: #ffffff39 transparent;
}

.scrollbar-custom::-webkit-scrollbar {
	width: 0.2rem;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
	background-color: #ffffff39;
	border-radius: 1rem;
	border: 0.1rem solid transparent;
}

/* ESTILOS DE LOS EMOTICONOS */
.EmojiPickerReact {
	@apply -top-[470px]  shadow-md shadow-[#9a86f3] border-[#9186f3];
	position: absolute !important;
	background-color: #080420 !important;
	border: 1px solid #9186f3 !important;
}

.epr-category-nav button {
	filter: contrast(0);
}

.epr_-8623pq {
	background-color: transparent !important;
	border: 1px solid #9186f3 !important;
}

.epr_-99lr9q {
	background-color: #080420 !important;
}

.epr-body::-webkit-scrollbar {
	@apply bg-[#080420] w-1;
}

.epr-body::-webkit-scrollbar-thumb {
	@apply bg-[#9186f3];
}

/* ESTILOS DE LOS EMOTICONOS */
